:root {
    --color-primary: #3F7CAC;
    --color-secondary: #4ECDC4;
    --color-tertiary: #FC7753;
    --color-4: #474747;
    --color-5: #EAEAEA;
    --color-bg-heavy: #1a202c;
    --color-text: #000000;
    --color-text-inverted: #FFFFFF;
    --color-error: #AD343E;
    --color-warning: #F2AF29;
    --color-success: #AD343E;
}

body {
    font-family: Lato,sans-serif;
}

a {
    box-shadow: none;
    cursor: pointer;
    color: var(--color-primary);
}

a:hover,
a:visited {
    color: var(--color-primary);
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-text);
}

#header {
    position: relative;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: var(--color-4);
    transform: skewY(4deg);
    transform-origin: top right;
    display: block;
    border-bottom: 12px solid var(--color-tertiary);
    max-width: 100%;
    display: flex;
}

#header-text{
    transform: skewY(-4deg);
    transform-origin: top right;
}

#content {
    min-height: calc(100vh - 132px);
}

#footer {
    background: var(--color-bg-heavy);
    color: var(--color-text-inverted);
}

#nav-toggle {
    background: var(--color-secondary);
}

#side_nav {
    background: var(--color-secondary);
}

.button--primary {
    color: var(--color-text-inverted);
    background: var(--color-tertiary);
}

.button--primary:hover,
.button--primary:visited {
    color: var(--color-text-inverted);
    background: var(--color-tertiary);
}

input[type="text"],
input[type="email"],
textarea {
    border-bottom: 1px solid var(--color-tertiary);
    background: var(--color-5);
}

@tailwind base;

@tailwind components;

@tailwind utilities;